apiVersion: apps/v1
kind: Deployment
metadata:
  name: lidarr-deployment
  namespace: mediamaven
  labels:
    app: lidarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: lidarr
  template:
    metadata:
      labels:
        app: lidarr
    spec:
      containers:
        - name: lidarr
          image: linuxserver/lidarr:latest
          ports:
            - containerPort: 8686
          env:
            - name: PUID
              value: "1026"
            - name: PGID
              value: "1026"
            - name: TZ
              value: "America/Chicago"
          volumeMounts:
            - name: lidarr-config
              mountPath: /config
            - name: music
              mountPath: /music
            - name: downloads
              mountPath: /downloads
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "2Gi"
              cpu: "2"

      volumes:
        - name: lidarr-config
          persistentVolumeClaim:
            claimName: pvc-lidarr-config
        - name: music
          persistentVolumeClaim:
            claimName: pvc-music
        - name: downloads
          persistentVolumeClaim:
            claimName: pvc-torrents