apiVersion: apps/v1
kind: Deployment
metadata:
  name: jackett-deployment
  labels:
    app: jackett
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jackett
  template:
    metadata:
      labels:
        app: jackett
    spec:
      containers:
        - name: jackett
          image: linuxserver/jackett:latest
          ports:
            - containerPort: 9117
          env:
            - name: PUID
              value: "1026"  # Set appropriate user ID
            - name: PGID
              value: "1026"  # Set appropriate group ID
            - name: TZ
              value: "America/Chicago"  # Set your timezone
          volumeMounts:
            - name: jackett-config
              mountPath: /config
          resources:
            requests:
              memory: "256Mi"   # Minimum amount of memory the container needs
              cpu: "250m"       # Minimum amount of CPU the container needs
            limits:
              memory: "2Gi"
              cpu: "2"
          livenessProbe:
            httpGet:
              path: / # Or consider /healthz or a more specific API health endpoint if known
              port: 9117
            initialDelaySeconds: 45
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: / # Or consider /healthz
              port: 9117
            initialDelaySeconds: 20
            periodSeconds: 15
            timeoutSeconds: 5
            failureThreshold: 3
      volumes:
        - name: jackett-config
          persistentVolumeClaim:
            claimName: pvc-jackett-config  # You can define a PVC if necessary
